.lookup {
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.lookup input::placeholder {
    opacity: 0.1;
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}